@tailwind base;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inter:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@layer components{
   .theme-config{
    @apply bg-l100  duration-1000 transition ease-in-out
   }
}


@tailwind components;
@tailwind utilities;