$font-family: 'Inter', sans-serif;
$font-variant-base: 'normal';
$font-feature-settings-base: 'normal';
$primary-color: #5072A7;
$link-color: #5072A7;
$success-color: #5072A7;
$warning-color: #ff7a17;
$error-color: #b7241b;
$border-radius-base: 4px;
$border-color-base: #0066b2;
$typography-title-margin-top: 0;
$typography-title-margin-bottom: 0;
$form-item-margin-bottom: 0;
$form-vertical-label-padding: 0 0 2px;
